

<div class="container">
  
  
  
  <div class="row">
  
    <div class="col-sm-2" style="background-color:lavenderblush; ">
    
        <div class="btn-group-vertical">
              
  <div class="header_buttons">
  
      <button  (click)="movetoprofile()" matTooltip="My profile" aria-label="Button that displays a tooltip when focused or hovered over">
          
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" alt="Avatar" class="md-avatar-rounded-circle ">
  
        </button>
        <br><br>
  
    
    <button  matTooltip="Messages" aria-label="Button that displays a tooltip when focused or hovered over">
      <span aria-label="Example icon-button with a heart icon">message</span>
    </button>
    <br><br>
  
    <button  matTooltip="Notifications" aria-label="Button that displays a tooltip when focused or hovered over">
      <span aria-label="Example icon-button with a heart icon">notification_important</span>
    </button> <br><br>
  
  
    <button  matTooltip="Super Likes" aria-label="Button that displays a tooltip when focused or hovered over">
      <span aria-label="Example icon-button with a heart icon" (click)="movetoprofile()">favorite</span>
    </button> <br><br>
  
    <button  (click)="movetosettings()" matTooltip="settings" aria-label="Button that displays a tooltip when focused or hovered over">
        <span aria-label="Example icon-button with a heart icon">settings</span>
      </button> <br><br>
    
  </div>
  
          </div><!-- button group vertical-->
    </div><!--left bar-->
  
    <div class="col-sm-10" style="background-color:lavender;">
      
      <div class="boom">
      <div class="example-card">
          <div>
            <div div-avatar class="example-header-image"></div>
            <div>Shiba Inu</div>
            <div>Dog Breed</div>
          </div>
          <img div-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
          <div>
            <p>
              The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
              A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
              bred for hunting.
            </p>
          </div>
          <div>
            <button>LIKE</button>
            <button>SUPER LIKE</button>
          </div>
        </div>
  
  
  </div>
  </div> <!-- right bar-->
  
  </div> <!--row-->
  
    
    <!--h1 class="display-4">Hello, {{username}}!</h1>-->
    
    
     
    
    
  
  
  
  
  
  
  
  
  
  
  
  
  </div>
  
  
  